* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
}
header nav {
    display: flex;
    justify-content: end;
    padding: 25px 25px 0 0;
    background-color: #170101;
    height: 70px;
}
header nav ul {
    display: flex;
}
header nav ul li {
    list-style: none;
}
header nav ul li a {
    text-decoration: none;
    padding-left: 15px;
    color: #fff;
    text-transform: uppercase;
}
header nav ul li a:hover {
    transition: 0.4s;
    color: #666;
}
.container {
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(40, 5, 2);
}
.container .subtitles {
    position: absolute;
    top: 250px;
    left: 10px;
    color: #fff;
    width: 10%;
}
.container .graph {
    width: 60%;
    background-color: #fff;
    margin-top: -120px;
}
.container .graph, .container .subtitles {
    margin-top: 8px;
    margin-left: 70px;
}