* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
}
header nav {
    display: flex;
    justify-content: end;
    padding: 25px 25px 0 0;
    background-color: #170101;
    height: 70px;
}
header nav ul {
    display: flex;
}
header nav ul li {
    list-style: none;
}
header nav ul li a {
    text-decoration: none;
    padding-left: 15px;
    color: #fff;
    text-transform: uppercase;
}
header nav ul li a:hover {
    transition: 0.4s;
    color: #666;
}
.container {
    background-image: url(sun.jpg);
    background-size:cover;
    background-position: center;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
}
.container .title-motto {
    color: #fff;
    position: absolute;    
    height: 100%;
    display: flex;
    align-content: center;
    margin-left: 150px;
    padding-top: 160px;
    flex-direction: column;
}
.container .title-motto .title {
    font-size: 40px;
    text-align: center;
}
.container .title-motto .motto {
    margin-top: 20px;
    font-size: 34px;
    text-align: center;
    color: #999;
}
.container a {
    margin-top: 130px;
    margin-left: 36px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background-color: #380404;
    border-radius: 16px;
    position: absolute;
    box-shadow: 2px 4px 0px 0px #fff;
}
.container a:hover {
    transition: 0.4s;
    background-color: rgb(143, 6, 6);
}
.container 
.container .shadow {
    background-color: rgb(0, 0, 0, 0.6);
    width: 100vw;
    height: calc(100vh - 70px);
}